<ol id='menu-id-reference-0' class='menu menu-level0 show '>
  <li id='menu-item-reference-1' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/' class='menu-link  '>Reference</a></span>  </li>
  <li id='menu-item-reference-2' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/package-map/' class='menu-link  '>Package Map</a></span>  </li>
  <li id='menu-item-reference-3' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/repository-layout/' class='menu-link  '>Repository Layout</a></span>  </li>
  <li id='menu-item-reference-4' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/packaging-roadmap/' class='menu-link  '>Packaging Roadmap</a></span>  </li>
  <li id='menu-item-reference-5' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/milestone-discovery/' class='menu-link  '>Milestone Discovery</a></span>  </li>
  <li id='menu-item-reference-6' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/pre-mvp-tasks/' class='menu-link  '>Pre-MVP Tasks</a></span>  </li>
  <li id='menu-item-reference-7' class='menu-item '>
    <span class='menu-item-row'><a href='/PackingingTools/articles/reference/adr/' class='menu-link  '>Architecture Decision Records</a><a href='#menu-id-reference-7' role='button' data-bs-toggle='collapse' aria-expanded='false' aria-controls='menu-id-reference-7' class='menu-link-show collapsed'></a></span>  <ol id='menu-id-reference-7' class='menu menu-level1 collapse '>
    <li id='menu-item-reference-8' class='menu-item '>
      <span class='menu-item-row'><a href='/PackingingTools/articles/reference/adr/0001-windows-toolchain-selection/' class='menu-link  '>0001 Windows Toolchain Selection</a></span>    </li>
    <li id='menu-item-reference-9' class='menu-item '>
      <span class='menu-item-row'><a href='/PackingingTools/articles/reference/adr/0002-windows-process-execution-abstraction/' class='menu-link  '>0002 Windows Process Execution Abstraction</a></span>    </li>
    <li id='menu-item-reference-10' class='menu-item '>
      <span class='menu-item-row'><a href='/PackingingTools/articles/reference/adr/0003-macos-toolchain-selection/' class='menu-link  '>0003 macOS Toolchain Selection</a></span>    </li>
    <li id='menu-item-reference-11' class='menu-item '>
      <span class='menu-item-row'><a href='/PackingingTools/articles/reference/adr/0004-linux-toolchain-selection/' class='menu-link  '>0004 Linux Toolchain Selection</a></span>    </li>
  </ol>
  </li>
</ol>
